<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"> 
  <!-- CSS -->
  <link rel='stylesheet' href='../stylesheets/style.css' /> 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Aplicación Gestión Docente</title>
</head>
<body>
  <div id="contenedor">
    <p style="text-align: right;margin-right: 5px;"><a href="#">Salir</a></p>

    <div class="collapse navbar-collapse tab-content" id="myNavbar">
      <ul class="nav nav-tabs nav-users">
        <!-- Jefe De Estudios -->
        <li class="dropdown nav-item active">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Jefe de estudios</a>
          <ul class="dropdown-menu col-sm-3 col-md-2">
              <li><a href="/tribunalActas">GITST</a></li>
              <li><a href="/ejemplo1">GIB</a></li>
              <li><a href="#section42">MUIT</a></li>
              <li><a href="#section42">Masters</a></li>
            </ul>
        </li>
        <!-- Coordinador -->
        <li class="nav-item active">
          <a class="nav-link" data-toggle="tab" href="/#Coordinador">Coordinador</a>
        </li>
         <!-- Director Posgrado -->
        <li class="nav-item active">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Director Posgrado</a>
          <ul class="dropdown-menu">
              <li><a href="/ejemplo1">Master 1</a></li>
              <li><a href="#section42">Master 2</a></li>
            </ul>
        </li>
        <!-- Director Departamento -->
        <li class="nav-item active">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"> Director Departamento</a>
          <ul class="dropdown-menu">
              <li><a href="#section41">Grados + MUIT</a></li>
              <li><a href="#section42">Masters</a></li>
              <li><a href="/tribunalActas">Tribunales Actas</a></li>
            </ul>
        </li>
        <!-- Responsable Departamento -->
        <li class="nav-item active">
          <a  class="nav-link" data-toggle="tab" href="/#ResponsableDepartamento"> Responsable Departamento</a>
        </li>
        <!-- Historial -->
        <li class="nav-item active">
          <a  class="nav-link" data-toggle="tab" href="/#Historial"> Historial</a>
        </li>
      </ul>
    </div>  
  </div>
  <div class="col-sm-12 col-md-12 affix-content">
      <div class="container">
        <%- body %>
      </div>
  </div>


</body>
</html>