<h1>Bienvenido responsable departamento</h1>

<div class="row row-grid"></div>
<div class="row row-grid center">
    <h2>Asignatura 1</h2>   
        <table>
            <tbody>
                <tr>
                    <th class="col-md-2"><label> Nombre</label></th>
                    <th class="col-md-2"><label>Acronimo</label></th>
                    <th class="col-md-2"><label>Codigo Asignatura</label></th>
                    <th class="col-md-2"><label>Creditos</label></th>
                    <th class="col-md-2"><label>Coordinador</label></th>
                    <th class="col-md-3"><label>Departamento Responsable</label></th>

                </tr>
                <tr>
                    <th class="col-md-2"><input type="text" id="name" /></th>
                    <th class="col-md-2"><input type="text" id="name" /></th>
                    <th class="col-md-2"><input type="text" id="name" /></th>
                    <th class="col-md-2"><input type="text" id="name" /></th>
                    <th class="col-md-2"><input type="text" id="name" /></th>
                    <th class="col-md-2"><input type="text" id="name" /></th>
                </tr>
                <tr>
                    <table>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-1"></th>
                            <th class="col-md-2"><label>Nombre</label></th>
                            <th class="col-md-2"><label>Apellidos</label></th>
                            <th class="col-md-2"><label>Departamento</label></th>
                        </tr>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-1">Profesor 1</th>
                            <th class="col-md-2"><input type="text" id="name" /></th>
                            <th class="col-md-2"><input type="text" id="name" /></th>
                            <th class="col-md-2"><input type="text" id="name" /></th>
                        </tr>
                        <tr>
                                <th class="col-md-1"></th>
                                <th class="col-md-1"></th>
                                <th class="col-md-2"><label>Nombre</label></th>
                                <th class="col-md-2"><label>Apellidos</label></th>
                                <th class="col-md-2"><label>Departamento</label></th>
                            </tr>
                            <tr>
                                <th class="col-md-1"></th>
                                <th class="col-md-1">Profesor 2</th>
                                <th class="col-md-2"><input type="text" id="name" /></th>
                                <th class="col-md-2"><input type="text" id="name" /></th>
                                <th class="col-md-2"><input type="text" id="name" /></th>
                            </tr>
                    </table>
                        <p class="col-md-8"></p>
                        <button class="col-md-1 centered" type="submit" onclick="addRow()">Añadir Profesor</button>  
                        <p class="col-md-2"></p>  
                </tr>
            </tbody>
        </table>

</div> 

<div class="row row-grid center"> 
        <p class="col-md-2"></p>
        <button class="col-md-2 centered" type="submit" onclick="addRow()">Añadir Asignatura</button>  
        <p class="col-md-7"></p>    
        <button class="col-md-1 centered" type="submit">Enviar</button>
</div>




