<form>
    <div class="row-grid row"></div>
    <div class="row-grid row">
            <label class="col-md-2" >Codigo Asignatura:</label>
            <input class="col-md-3" type="text" id="name" />
    </div>
    <div class="row row-grid">
            <label class="col-md-2" >Profesor Presidente:</label>
            <input class="col-md-3"type="text"  id="profesorSuplente" />
    </div>
    <div class="row row-grid">
            <label class="col-md-2" >Profesor Vocal:</label>
            <input class="col-md-3" type="text" id="profesorVocal" />
    </div>
    <div class="row row-grid">
            <label class="col-md-2" >Profesor Secretario:</label>
            <input class="col-md-3" type="text" id="profesorSecretario" />
    </div>
    <div class="row row-grid">
            <label class="col-md-2" >Profesor Suplemente:</label>
            <input class="col-md-3" type="text" id="profesorSuplente"/>
    </div>
    <div class="row row-grid center"> 
            <button class="col-md-1 centered" type="submit">Enviar</button>
    </div>
</form>